nav.breadcrumbs {
    ul {
        li {
            position: relative;
            margin-right: 5px;
            padding-right: 5px;
            &:after {
                content: '';
                position: absolute;
                top: calc(50% - (2px / 2));
                right: -1px;
                width: 2px;
                height: 2px;
                border-radius: 50%;
                background-color: #000;
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
            a {
                color: #4D5357;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
