section#service-categories {
    .content {
        box-shadow: 5px 2px 12px 18px rgba(227, 255, 239, 0.58);
    }
    ul {
        li {
            a {
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: calc(50% - 5px / 2);
                    width: 5px;
                    height: 5px;
                    background-color: $otherBlack;
                    border-radius: 50%;
                }
            }
        }
    }
}
