section#more-about {
    .content {
        p {
            font-size: 14px;
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
