<section class="pb-110" id="about-company">
    <div class="container">
        <picture class="block mb-75">
            <img src="{{ 'assets/img/jpg/about-company.jpg'|theme }}" alt="">
        </picture>
        <div class="mb-70 description">
            <p>
                Наша компания существует на рынке с 2008 года.
            </p>
            <p>
                Дружная команда, квалифицированные специалисты и доброжелательное отношение - всегда к Вашим услугам!
            </p>
            <p>
                Мы готовы доступно пояснить сложные вопросы, связанные с ведением бухгалтерского учета и налогообложения. Консультация грамотного бухгалтера всегда поможет понять, как правильно оптимизировать и минимизировать налоговое бремя.
            </p>
            <p>
                Также, для начинающих предпринимателей мы готовы предоставить расчет наиболее выгодной схемы работы в той или иной сфере деятельности.
            </p>
            <p>
                Сотрудничая с нами, Вы будете уверены в том, что Ваша налоговая и бухгалтерская отчетность всегда подается вовремя. Еще вы сможете сэкономить на содержании штата бухгалтерии и организации рабочих мест.
            </p>
        </div>
        <div class="btn-wrap">
            {% partial 'element/button'
                href = '#'
                text = 'История компании «ООО БухАссистент»'
            %}
        </div>
    </div>
</section>

{% partial 'section/info/collective' %}
{% partial 'section/info/licenses-and-certificates' %}
