.ac {
    .ac-trigger {
        border-bottom: 1px solid rgba(0, 169, 171, 0.28);
        .icon {
            transition: all 300ms ease-in-out;
        }
    }
    &:last-child {
        .ac-trigger {
            border-bottom: 0;
        }
    }
    &.is-active {
        .ac-trigger {
            .icon {
                transform: rotate(180deg);
            }
        }
    }
}

