<section class="pb-40" id="history-company">
    <div class="container">
        <div class="grid grid-cols-2 gap-30">
            <div class="description">
                <p>
                    ООО «БухАссистент» была основана в 2007 году, откуда и берутся ее истоки. С самого своего основания компания занималась ведением бухгалтерских и юридических услуг: именно в те годы и до сих пор, у нас обслуживаются самые первые наши клиенты, о чем мы также с гордостью заявляем.
                    Немного позже, в 2013 году, под символичную дату Дня Конституции РФ, эта организация была создана в новом лице, с ее теми же специалистами, клиентами и видами деятельности – ООО «Компания БухАссистент», которой мы сейчас и являемся. С каждым годом мы становимся все сильней и прогрессивней, подтверждая свой авторитет на рынке бухгалтерских и юридических услуг.
                    Некоторые сотрудники нашей компании работают у нас с самого первого дня ее основания ООО «БухАссистент», поэтому смело можно утверждать, что история нашей компании – это наши специалисты. Именно они делают компанию такой, какой она должна быть: сильной, уверенной, перспективной и надежной. Доверяя нам свою деятельность, мы заботимся о том, чтобы вся информация была в самых надежных руках.
                </p>
                <p>
                    Да, для нашего клиента мы готовы рискнуть своим авторитетом: мы не выложим информацию о Вас как о нашем клиенте в нашем портфолио, дабы убедить кого-то в нашем профессионализме. Мы уверенны в нем сами и нам важно, чтобы наш клиент ни о чем не переживал.
                </p>
                <p>
                    Бизнеса без проблем и затрат не существует, однако мы, уже более 14 лет, всеми силами добиваемся сломать эти стереотипы. Снижение затрат, минимизация рисков, комфортный заработок и безопасность – это то, что мы стараемся осуществить для каждого клиента.
                </p>
            </div>
            <div>
                <picture>
                    <img class="w-full object-cover" src="{{ 'assets/img/jpg/history-company.jpg'|theme }}" alt="">
                </picture>
            </div>
        </div>
    </div>
</section>
