<section class="pb-105" id="licenses">
    <div class="container">
        <div class="grid grid-cols-3 gap-30" picture-gallery>
            <div>
                <a class="cursor-pointer" data-src="{{ 'assets/img/jpg/licenses.jpg'|theme }}">
                    <picture class="block mb-15">
                        <img class="w-full object-cover" src="{{ 'assets/img/jpg/licenses.jpg'|theme }}" alt="Декларация СОУТ">
                    </picture>
                </a>
                <span class="text-lg">Декларация СОУТ</span>
            </div>
            <div>
                <a class="cursor-pointer" data-src="{{ 'assets/img/jpg/licenses.jpg'|theme }}">
                    <picture class="block mb-15">
                        <img class="w-full object-cover" src="{{ 'assets/img/jpg/licenses.jpg'|theme }}" alt="Свидетельство о постановке на учет">
                    </picture>
                </a>
                <span class="text-lg">Свидетельство о постановке на учет</span>
            </div>
            <div>
                <a class="cursor-pointer" data-src="{{ 'assets/img/jpg/licenses.jpg'|theme }}">
                    <picture class="block mb-15">
                        <img class="w-full object-cover" src="{{ 'assets/img/jpg/licenses.jpg'|theme }}" alt="Свидетельство о гос. регистрации">
                    </picture>
                </a>
                <span class="text-lg">Свидетельство о гос. регистрации</span>
            </div>
        </div>
    </div>
</section>
