<section class="pb-30" id="requisites">
    <div class="container">
        <div class="border-1 border-darkWhite rounded-5">
            <span class="block font-medium text-lg pb-25 pt-50 px-20 mx-30 border-b-1 border-lightBlue border-opacity-30">ООО "КОМПАНИЯ БУХАССИСТЕНТ"</span>
            <div class="px-50 pt-35 pb-60 mt-40 mb-50 leading-7 font-medium bg-mint description">
                <p>
                    ИНН:  5038102480
                    <br>
                    КПП: 503801001
                    <br>
                    ОГРН: 1135038008973
                    <br>
                    ОКПО: 53902375
                    <br>
                    <br>
                    Расчетный счет: 40702810140020010542
                    <br>
                    Банк: ПАО СБЕРБАНК
                    <br>
                    БИК: 044525225
                    <br>
                    Корр. счет: 30101810400000000225
                    <br>
                    Юридический адрес: 141207, Московская обл, Пушкино г, Надсоновская ул, дом 24, офис ПОМ/КОМ/ОФ 24/97/1/3
                    <br>
                    Телефон: 89099933773
                    <br>
                    Генеральный директор: Градовска Елена Вячеславна
                </p>
                {# OR #}
<!--                <div>-->
<!--                    <span class="block">ИНН:  5038102480</span>-->
<!--                    <span class="block">КПП: 503801001</span>-->
<!--                    <span class="block">ОГРН: 1135038008973</span>-->
<!--                    <span class="block">ОКПО: 53902375</span>-->
<!--                </div>-->
<!--                <br>-->
<!--                <div>-->
<!--                    <span class="block">Расчетный счет: 40702810140020010542</span>-->
<!--                    <span class="block">Банк: ПАО СБЕРБАНК</span>-->
<!--                    <span class="block">БИК: 044525225</span>-->
<!--                    <span class="block">Корр. счет: 30101810400000000225</span>-->
<!--                    <span class="block">Юридический адрес: 141207, Московская обл, Пушкино г, Надсоновская ул, дом 24, офис ПОМ/КОМ/ОФ 24/97/1/3</span>-->
<!--                    <span class="block">Телефон: 89099933773</span>-->
<!--                    <span class="block">Генеральный директор: Градовска Елена Вячеславна</span>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</section>
