section#requisites {
    .description {
        background-image: url("../../assets/img/svg/requisites-wave.svg");
        background-size: contain;
        background-position: right bottom;
        background-repeat: no-repeat;
    }
}
