<section id="bottom-strip">
    <div class="container">
        <div class="flex justify-between items-center py-15 text-sm">
            <span>2014-2021 БухАссистент</span>
            <a class="hover:underline" href="#">Политика конфиденциальности</a>
            <a class="flex items-center hover:underline" href="https://biz-mark.ru" target="_blank">
                <picture class="mr-20">
                    <img src="{{ 'assets/img/svg/biz-mark-logo.svg'|theme }}" alt="Веб-студия Biz-Mark">
                </picture>
                Разработано в biz-mark
            </a>
        </div>
    </div>
</section>
