<section class="pt-60 pb-70" id="consultation">
    <div class="container">
        {% partial 'element/section_title'
            text = 'Остались вопросы? Нужна консультация?'
            tag = 'h2'
        %}
        <div class="grid grid-cols-9">
            <div class="col-span-3">
                {% partial 'form/consultation' %}
            </div>
            <div class="col-span-6">
                <div class="flex">
                    <div class="flex-1 pl-80 pr-60 py-30">
                        <span class="mb-25">После заявки с вами свяжется</span>
                        <span class="text-2xl font-semibold mb-20">Полева <br> Анна Сергеевна</span>
                        <div>
                            <span class="mb-15">Вы получите:</span>
                            <ul class="list-disc pl-17 mb-20">
                                <li>Профессиональную консультацию</li>
                                <li>Предварительную стоимость</li>
                                <li>Сроки реализации</li>
                            </ul>
                            <span class="leading-6 text-sm mb-25">
                                Неудобно созвониться? <br>
                                Напишите нам в мессенджер:
                            </span>
                            <div class="flex">
                                <a class="mr-30" href="viber://chat?number=%2B+7 999 999 99 99" target="_blank">
                                    <picture>
                                        <img src="{{ 'assets/img/svg/icons/viber-color.svg'|theme }}" alt="">
                                    </picture>
                                </a>
                                <a class="mr-30" href="https://wa.me/+7 999 999 99 99" target="_blank">
                                    <picture>
                                        <img src="{{ 'assets/img/svg/icons/whats-app-color.svg'|theme }}" alt="">
                                    </picture>
                                </a>
                                <a href="https://telegram.me/" target="_blank">
                                    <picture>
                                        <img src="{{ 'assets/img/svg/icons/telegram-color.svg'|theme }}" alt="">
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <picture>
                            <img src="{{ 'assets/img/jpg/consultant.jpg'|theme }}" alt="Полева Анна Сергеевна">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
