<section id="top-strip" class="bg-green text-white py-15">
    <div class="container">
        <div class="grid grid-cols-2">
            <div class="flex items-center">
                <div class="flex items-center mr-55">
                    <picture class="mr-15">
                        <img src="{{ 'assets/img/svg/icons/mark.svg'|theme }}" alt="">
                    </picture>
                    <span class="text-sm">МО, Пушкино, Надсоновская 24, 320</span>
                </div>
                <div class="flex ml-6">
                    <a href="#" class="inline-flex items-center justify-center w-25 h-25 mr-5 bg-white rounded-circle">
                        <picture>
                            <img src="{{ 'assets/img/svg/icons/instagram.svg'|theme }}" alt="">
                        </picture>
                    </a>
                    <a href="#" class="inline-flex items-center justify-center w-25 h-25 mr-5 bg-white rounded-circle">
                        <picture>
                            <img src="{{ 'assets/img/svg/icons/facebook.svg'|theme }}" alt="">
                        </picture>
                    </a>
                    <a href="#" class="inline-flex items-center justify-center w-25 h-25 mr-5 bg-white rounded-circle">
                        <picture>
                            <img src="{{ 'assets/img/svg/icons/vk.svg'|theme }}" alt="">
                        </picture>
                    </a>
                    <a href="#" class="inline-flex items-center justify-center w-25 h-25 bg-white rounded-circle">
                        <picture>
                            <img src="{{ 'assets/img/svg/icons/odnoklassniki.svg'|theme }}" alt="">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="flex justify-between items-center">
                <div>
                    <a class="mr-30" href="#">Заказать обратный звонок</a>
                    <a href="#">Калькулятор и расчет стоимости</a>
                </div>
                <pciture>
                    <img src="{{ 'assets/img/svg/icons/loupe.svg'|theme }}" alt="">
                </pciture>
            </div>
        </div>
    </div>
</section>
