<footer class="bg-green text-white pt-45 pb-25" id="main-footer">
    <div class="container">
        <div class="grid grid-cols-12">
            <div class="col-span-3">
                <div class="min-h-85 mb-25">
                    <a class="block -ml-100" href="/">
                        <picture>
                            <img src="{{ 'assets/img/svg/w-logo.svg'|theme }}" alt="">
                        </picture>
                    </a>
                </div>
                <ul class="text-sm">
                    <li class="mb-15">ООО «Компания БухАссистент»</li>
                    <li class="mb-15">ОГРН 1135038008973</li>
                    <li class="mb-15">ИНН 5038102480</li>
                    <li class="mb-15">КПП 503801001</li>
                </ul>
            </div>
            <div class="col-span-2">
                <div class="min-h-85 mb-25">
                    <span class="text-2xl font-bold mt-20">Услуги</span>
                </div>
                <ul class="text-sm">
                    <li class="mb-15">
                        <a class="hover:underline" href="#">Бухгалтерские услуги</a>
                    </li>
                    <li class="mb-15">
                        <a class="hover:underline" href="#">Юридические услуги</a>
                    </li>
                </ul>
            </div>
            <div class="col-span-4 pl-50">
                <div class="min-h-85 mb-25">
                    <span class="text-2xl font-bold mt-20">Информация</span>
                </div>
                <ul class="grid grid-cols-2 text-sm">
                    <li class="mb-15">
                        <a class="hover:underline" href="#">О компании</a>
                    </li>
                    <li class="mb-15">
                        <a class="hover:underline" href="#">Акции</a>
                    </li>
                    <li class="mb-15">
                        <a class="hover:underline" href="#">Портфолио</a>
                    </li>
                    <li class="mb-15">
                        <a class="hover:underline" href="#">Блог</a>
                    </li>
                    <li class="mb-15">
                        <a class="hover:underline" href="#">Прайс-лист</a>
                    </li>
                    <li class="mb-15">
                        <a class="hover:underline" href="#">Контакты</a>
                    </li>
                    <li class="mb-15">
                        <a class="hover:underline" href="#">Отзывы</a>
                    </li>
                </ul>
            </div>
            <div class="col-span-3">
                <div class="min-h-85 mb-25">
                    <span class="text-2xl font-bold mt-20">Контакты</span>
                </div>
                <ul class="text-sm">
                    <li class="mb-15">
                        <a class="flex items-center hover:underline" href="#">
                            <picture class="mr-15">
                                <img src="{{ 'assets/img/svg/icons/w-phone.svg'|theme }}">
                            </picture>
                            + 7 (909) 993-37-73
                        </a>
                    </li>
                    <li class="mb-15">
                        <a class="flex items-center hover:underline" href="#">
                            <picture class="mr-15">
                                <img src="{{ 'assets/img/svg/icons/w-evenlope.svg'|theme }}">
                            </picture>
                            info@buhassistent.ru
                        </a>
                    </li>
                    <li class="mb-15 flex items-center">
                        <pictrue class="mr-15">
                            <img src="{{ 'assets/img/svg/icons/mark.svg'|theme }}">
                        </pictrue>
                        МО, Пушкино, Надсоновская 24, 320
                    </li>
                    <li class="mb-15 flex">
                        <a class="mr-10 hover:underline" href="#">
                            <picture class="flex justify-center items-center w-25 h-25 rounded-circle bg-white">
                                <img src="{{ 'assets/img/svg/icons/instagram.svg'|theme }}" alt="Instagram">
                            </picture>
                        </a>
                        <a class="mr-10 hover:underline" href="#">
                            <picture class="flex justify-center items-center w-25 h-25 rounded-circle bg-white">
                                <img src="{{ 'assets/img/svg/icons/facebook.svg'|theme }}" alt="Facebook">
                            </picture>
                        </a>
                        <a class="mr-10 hover:underline" href="#">
                            <picture class="flex justify-center items-center w-25 h-25 rounded-circle bg-white">
                                <img src="{{ 'assets/img/svg/icons/vk.svg'|theme }}" alt="Вконтакте">
                            </picture>
                        </a>
                        <a class="hover:underline" href="#">
                            <picture class="flex justify-center items-center w-25 h-25 rounded-circle bg-white">
                                <img src="{{ 'assets/img/svg/icons/odnoklassniki.svg'|theme }}" alt="Однокласники">
                            </picture>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
