<header id="main-header">
    <div class="container">
        <div class="flex justify-between items-center pt-20">
            <div class="flex items-center">
                <a href="/" class="flex mr-50 -mb-5">
                    <picture>
                        <img src="{{ 'assets/img/svg/logo.svg'|theme }}" alt="">
                    </picture>
                    <div>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <div class="flex flex-col items-end mr-50">
                    <a class="flex items-center text-xl" href="tel:+ 7 (909) 993-37-73">
                        <picture class="mr-10">
                            <img src="{{ 'assets/img/svg/icons/phone.svg'|theme }}" alt="">
                        </picture>
                        + 7 (909) 993-37-73
                    </a>
                    <span>с 9.00 до 18.00</span>
                </div>
                <div class="flex flex-col items-end">
                    <a class="flex items-center text-xl mb-5" href="mailto:info@buhassistent.ru">
                        <picture class="mr-10">
                            <img src="{{ 'assets/img/svg/icons/evenlope.svg'|theme }}" alt="">
                        </picture>
                        info@buhassistent.ru
                    </a>
                    <div class="flex">
                        <a href="https://wa.me/+7 999 999 99 99" target="_blank">
                            <pciture>
                                <img src="{{ 'assets/img/svg/icons/whats-app.svg'|theme }}" alt="">
                            </pciture>
                        </a>
                        <a class="ml-15" href="viber://chat?number=%2B+7 999 999 99 99" target="_blank">
                            <pciture>
                                <img src="{{ 'assets/img/svg/icons/viber.svg'|theme }}" alt="">
                            </pciture>
                        </a>
                        <a class="ml-15" href="https://telegram.me/" target="_blank">
                            <pciture>
                                <img src="{{ 'assets/img/svg/icons/telegram.svg'|theme }}" alt="">
                            </pciture>
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex flex-col ">
                <a class="hover:bg-transparent hover:text-black hover:border-lightGreen bg-lightGreen text-white border-2 rounded-25 border-transparent transition px-20 py-10 text-sm mb-10" href="#">Консультация бухгалтера</a>
                <a class="hover:bg-transparent hover:text-black hover:border-lightGreen bg-lightGreen text-white border-2 rounded-25 border-transparent transition px-20 py-10 text-sm" href="#">Консультация юриста</a>
            </div>
        </div>
        <nav>
            <ul class="flex justify-between font-semibold border-b-4 border-green pt-20 pb-25">
                <li dropdown>
                    <a href="#">Бухгалтерские услуги</a>
                    <button dropdown-button>
                        <picture>
                            <img src="{{ 'assets/img/svg/icons/angle-down.svg'|theme }}" alt="">
                        </picture>
                    </button>
                    <ul dropdown-list>
                        <li>
                            <a href="#">Lorem ipsum</a>
                            <a href="#">Lorem ipsum</a>
                            <a href="#">Lorem ipsum</a>
                        </li>
                    </ul>
                </li>
                <li dropdown>
                    <a href="#">Юридические услуги</a>
                    <button dropdown-button>
                        <picture>
                            <img src="{{ 'assets/img/svg/icons/angle-down.svg'|theme }}" alt="">
                        </picture>
                    </button>
                    <ul dropdown-list>
                        <li>
                            <a href="#">Lorem ipsum</a>
                            <a href="#">Lorem ipsum</a>
                            <a href="#">Lorem ipsum</a>
                        </li>
                    </ul>
                </li>
                <li dropdown>
                    <a href="#">О компании</a>
                    <button dropdown-button>
                        <picture>
                            <img src="{{ 'assets/img/svg/icons/angle-down.svg'|theme }}" alt="">
                        </picture>
                    </button>
                    <ul dropdown-list>
                        <li>
                            <a href="#">Lorem ipsum</a>
                            <a href="#">Lorem ipsum</a>
                            <a href="#">Lorem ipsum</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Портфолио</a>
                </li>
                <li>
                    <a href="#">Прайс-лист</a>
                </li>
                <li>
                    <a href="#">Отзывы</a>
                </li>
                <li>
                    <a href="#">Акции</a>
                </li>
                <li>
                    <a href="#">Блог</a>
                </li>
                <li>
                    <a href="#">Контакты</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
