section#last-works {
    .statistics {
        background-image: url(../../assets/img/svg/waves.svg);
        background-position: center bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
