<article class="h-full bg-white shadow border-1 border-darkWhite portfolio-card hover:shadow-md transition overflow-hidden">
    <a href="#">
        <picture class="mb-20">
            <img class="w-full object-cover rounded-5" src="{{ 'assets/img/svg/portfolio-card.svg'|theme }}" alt="">
        </picture>
        <div class="px-10 py-20">
            <span class="mb-20">Аутсорсинг функции расчета заработной платы для веб-студии</span>
            <div>
                <div class="flex mb-15">
                <span class="flex items-center text-xs mr-25">
                    <pictrue class="mr-10">
                        <img src="{{ 'assets/img/svg/icons/calendar.svg'|theme }}" alt="">
                    </pictrue>
                    01.02.2021
                </span>
                    <span class="flex items-center text-xs">
                    <pictrue class="mr-10">
                        <img src="{{ 'assets/img/svg/icons/globe.svg'|theme }}" alt="">
                    </pictrue>
                    Санкт-Петербург
                </span>
                </div>
                <span class="flex items-center text-xs">
                <pictrue class="mr-10">
                    <img src="{{ 'assets/img/svg/icons/settings.svg'|theme }}" alt="">
                </pictrue>
                Производство
            </span>
            </div>
        </div>
    </a>
</article>
