<section class="pb-60" id="more-about">
    <div class="container">
        {% partial 'element/section_title'
            text = 'Подробнее о бухгалтерских услугах'
            tag = 'h2'
        %}
        <div class="pl-40 pr-75 pt-40 pb-70 border-1 border-darkWhite shadow content">
            <p>
                За время существования БухАссистент мы предоставили услуги более 80 компаниям различных сфер деятельности. При работе с клиентами мы учитываем особенности бизнеса, стратегические цели и имеющиеся ресурсы. Такая система сотрудничества позволяет достичь поставленной цели за кратчайшее время.
            </p>
            <p>
                За время существования БухАссистент мы предоставили услуги более 80 компаниям различных сфер деятельности. При работе с клиентами мы учитываем особенности бизнеса, стратегические цели и имеющиеся ресурсы.
            </p>
            <p>
                Такая система сотрудничества позволяет достичь поставленной цели за кратчайшее время.  Такая система сотрудничества позволяет достичь поставленной цели за кратчайшее время
            </p>
            <p>
                Вопросы? Консультации? Сотрудничество? Мы всегда готовы проконсультировать и оказать квалифицированную помощь вашему бизнесу.
            </p>
            <p>
                За время существования БухАссистент мы предоставили услуги более 80 компаниям различных сфер деятельности. При работе с клиентами мы учитываем особенности бизнеса, стратегические цели и имеющиеся ресурсы. Такая система сотрудничества позволяет достичь поставленной цели за кратчайшее время.
            </p>
            <p>
                За время существования БухАссистент мы предоставили услуги более 80 компаниям различных сфер деятельности. При работе с клиентами мы учитываем особенности бизнеса, стратегические цели и имеющиеся ресурсы.
            </p>
        </div>
    </div>
</section>
