<section id="still-questions" class="pb-70">
    <div class="container">
        {% partial 'element/section_title'
            text = 'Остались вопросы о бухгалтерских услугах?'
            tag = 'h2'
        %}
        <p class="text-lg text-center mb-60">
            Оставьте свой номер телефона. Мы свяжемся с вами в удобное для вас время и подробно бесплатно <br> проконсультируем по всем вопросам о бухгалтерии.
        </p>
        <div>
            {% partial 'form/still-questions' %}
        </div>
    </div>
</section>
